<div class="search-result">
  <h3>{{description}}</h3>
  <span>{{moment date 'dddd MMM DD YYYY'}}</span>
  <!-- I'd break this result into more parts to display more info, but for the sake of brevity am just showing the description and date. -->
</div>